body{
    background-color: #7BA1D4;
    color:#16427C;
}
.A{
    margin: 17.5% 0%;
    text-align: center;
}
.toDividePage{
    display: flex;
    flex-direction: row;
    /* padding:0 10px; */
}
.divOne{
    display:flex;
    flex-direction: column;
    width: 40%;
    margin-left:100px;
    padding: 10px 0px  0px 30px ;
    justify-content: center;
}
.mangnifierPhoto{
    border-width: 10px;
    height: 20rem;
    width: 20rem;
    margin-left: 20px;
}

.mainHead{
    font-size: 3.5rem;
    margin:0;
    font-family: 'Righteous', cursive;
}
.askingLine{
    font-size: 2rem;
    margin:0 0 -22px 0;
    word-spacing: 40px;
    font-family: 'Righteous', cursive;
}
.divTwo{
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 7px 0px  0px 0px ;
    justify-content: center;
}
.divBox{
    display:flex;
    flex-direction: column;
    margin: 0px;
    width:30%;
    height: 15em;
}
.btnImg1{
    height: 20em ;
    width: 15em;
}
.sec1{
    margin-right:10% ;
}
.btnImg1:hover{
    cursor: pointer;
}