.pageHead{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 900 !important;
    margin-top: 1.3%;
}
.searchBar{
    width:50%;
    align-self:center;
}
.searchSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #16427C;
    border-radius: 20px;
}
.searchTag{
    color: #ffffff;
    font-size: 20px;
    padding:0% 2%;
    margin: 2% 1% 1% 1% ;
}
.searchEntry{
    width:75%;
    background-color: #BFBFBF;
    border-radius: 25px;
    margin: 1% !important;
    padding-left: 1%;
    border: none;
    font-weight: 800;
    color:#16427C;
}
.searchBtn{
    margin: 2% 3%;
    background-color: #BFBFBF !important;
    color: #16427C !important;
    font-weight: 900 !important;
    border-radius: 20px !important;
}
.searchBtn:hover{
    background-color: #16427C !important;
    color:#BFBFBF !important;
}
.btnDivSearch{
    margin: 1% 45%;
}
.productsHead{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0% 1%;
}
.fourProducts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    margin-top: 0%;
}

.productDisplay{
    display:block;
    line-height: 1px ;
    padding: 1% 3%;
    background-color: #BFBFBF;
    border-radius: 30px;
    border: 5px solid #16427C; 
    margin: 1%;
}
.innerHead{
    font-size: 15px;
    margin-top:5% ;
    text-transform: uppercase;
}
.innerHead2{
    width:50%;
}
.innerWord{
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
}
.innerWord2{
    font-weight: 400;
    font-size: 17px;
    padding-left: 2%;
    text-transform: capitalize;
}
.orderBtn{
    margin: 2% 3%;
    background-color: #16427C !important;
    color:#BFBFBF !important;
    font-weight: 900 !important;
    border-radius: 20px !important;
}
.orderBtn:hover{
    background-color: #BFBFBF !important;
    color: #16427C !important;
}
.btnDiv2{
    margin: 0% 28%;
}
.allProducts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
    margin: 1%;
    padding: 0%;
  }
.description {
    font-weight: 300;
    text-transform: none;
  }
.notBtn{
    width:90%;
    display: flex;
    flex-direction: column;
}
.notBtnInner{
    display: flex;
    flex: 1 0 33%;
}
.lower{
    border: 1px solid #16427C;
    border-right-width: 5px ;
    border-bottom-left-radius: 25px !important;
}
.upper{
    border: 1px solid #16427C;
    border-right-width: 5px ;
    border-top-left-radius: 25px !important;
}
.productDisplay2{
    display:flex;
    flex-direction: row;
    padding: 0%;
    background-color: #BFBFBF;
    border-radius: 30px;
    border: 5px solid #16427C; 
    margin: 1%;
}
.innerHead2{
    font-size: 15px;
    margin: 0%;
    padding: 1%;
    display:flex;
    flex-direction: column;
    text-transform: uppercase;
}
.centerBorder{
    border-left: 2px solid #16427C;
}
.btnDiv3{
    width: 10%;
    margin: 0%;
    padding: 3% 0% 3% 3%;
}
.orderBtn2{
    background-color: #16427C !important;
    color:#BFBFBF !important;
    font-weight: 900 !important;
}
.orderBtn2:hover{
    background-color: #BFBFBF !important;
    color: #16427C !important;
}
.entrySection2{
    margin: 1% !important;
    width: 98%;
}
.orderFormBtn{
    margin-left: 45% !important; 
}