.pageLink{
    margin:-12px 0;
    padding:0px;
}
.linkBtn{
    text-decoration: none;
    color:#16427C;
}
.linkBtn:hover{
    cursor: pointer;
    text-decoration: underline;
}
.centerHeading{
    text-align: center;
    font-size: 2.25rem;
    letter-spacing: 3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.subSections{
    display: flex;
    margin-left: 17%;
    margin-bottom: 3%;
    margin-right: 17%;
    width: 80%;
}
.section1{
    width:81.5%;
}
.section2{
    width:27.15%;
}
.section3{
    width:40.75%;
}
.section4{
    width:30%;
    margin-left: 27%;
}
.amountDisplay{
    margin-left:-10%;
    margin-top: 13%;
    margin-bottom: 17%;
    font-size: 30px;
}
.MuiPaper-root{
    background-color:#7BA1D4 !important;
}
.menuClass:hover{
    background-color:#16427C !important;
    color:#7BA1D4;
    font-weight: 700;
}
.btnClass{
    margin: 2% 36% 1% 36%;
    background-color: #7BA1D4;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: #16427C;
    color: #16427C;
    font-weight: 600;
}
.btnClass:hover{
    background-color: #16427C ;
    color:#7BA1D4;
    font-weight: 700;
    cursor: pointer;
}